.button-text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-violet);
    border-radius: 0.25rem;
}

.button-text--filter {
    flex: 0 0 auto;
    flex-grow: 1;
    padding: 0.75rem 1rem;
}

.button-text--filter-desktop{
    flex: 0 0 auto;
    flex-grow: 1;
    padding: 0.5rem 1rem;
}

.button-text--load{
    flex: 0 0 auto;
    width: max-content;
    padding: 0.75rem 1.5rem;
    margin: auto;
}