.switch {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.switch_icon_container {
    width: var(--icon-width-small);
    height: 1.25rem;
}

.switch_checks {
    position: relative;
    display: flex;
    background-color: var(--color-white);
    border-radius: 1rem;
}

.switch_check {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    /* padding: 1rem; */
}

.switch_check:hover {
    cursor: pointer;
}

.selector {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-violet);
    border-radius: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in-out;
}

.move{
    left: calc(90% - 1rem);
}