/* **********     Reset CSS     ********** */

html {
    --font: 'Kumbh Sans', sans-serif;
    --icon-width-1rem:1rem;
    --icon-width-small: 1.25rem;
    --icon-width-medium: 2rem;
    --icon-width-large: 3rem;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
    --color-violet: #5964e0;
    --color-light-violet: #939bf4;
    --color-very-dark-blue: #19202d;
    --color-midnight: #121721;
    --color-white: #fff;
    --color-light-grey: #f4f6f8;
    --color-grey: #9daec2;
    --color-dark-grey: #6e8098;

    --bg-color: var(--color-light-grey);
    --bg-color-elements: var(--color-white);
    --bg-color-elements-alt: var(--color-light-grey);
    --color-text-titles: var(--color-very-dark-blue);
    --color-text-alt: var(--color-dark-grey);
    --color-text-alt-second: var(--color-violet);
    --color-text-alt-third: var(--color-violet);
    --color-checkbox:var(--color-light-grey);

    --bg-color-button-alt:#eeeffc;
    --pattern-desktop:"";
    --pattern-mobile:"";


}



.dark {
    --bg-color: var(--color-midnight);
    --bg-color-elements:var(--color-very-dark-blue);
    --color-text-titles:var(--color-white);
    --color-text-alt-third:var(--color-white);
    --color-checkbox:#313743;
    --bg-color-elements-alt:#313743;
    --bg-color-button-alt:#313743;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    width: 100%;
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: var(--font);
    border: none;
    /* appearance: none; */
}

input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block: 0;
    font-weight: 400;
}

body {
    width: 100%;
    min-height: 100vh;
}

.main{
    min-height: 100vh;
    background-color: var(--bg-color);
}